//- index.pug

doctype html
html
  head
    title CV
    meta(charset="utf=8")
    script(src="main.js")
  body
    include /components/name/name
    include /components/profile/profile
    include /components/skills/skills
    include /components/education/education
    include /components/experience/experience
    include /components/software/software
    
    div.block 
      +profile
    div.block
      +skills
    
    div.block
      +education
    div.block
      +experience
    div.block
      +software