@font-face
  font-family MyriadPro
  src url(fonts/MyriadPro-Regular.woff)  
  src url(fonts/MyriadPro-Regular.ttf)  

body
  max-width 1240px  //- 1179
  box-sizing border-box
  padding-left 61px
  padding-top 75px
  margin 0 auto

  font-size: 13px

.column-1
.column-2
  float left

.column-1
  width 35.029686% //-413px
  margin-right 77px

.column-2
  width 53.60475% //-632px

div.block
  padding 0
  margin 0

@media screen and (max-width: 600px)
  .column-1
  .column-2
    width 100

    
