.education div.content
.experience div.content
  padding-left 60px
  position relative

  &::before
    content "\2022"
    position absolute
    font-size 40px
    left 0px
    top 0px


.education p
.experience p
  font-size 28px
  font-weight normal

.education span
.experience span
  text-transform uppercase
  font-weight bold

.education span
    color #3d6cb0