.education div.block-header
  margin-bottom 11px

.education .header-title
  padding-left 20px
  vertical-align base-line

.education div.content
  padding-top 15px
  padding-left 53px
  position relative

  &::before
    content "\2022"
    position absolute
    font-size 55px
    left 5px
    top -1px


.education p
.experience p
  font-weight normal
  font-size 23px
  padding 0
  margin 0

.education .content span
.experience .content span
  text-transform uppercase
  font-weight bold
  font-size 23px
  letter-spacing -1.5px
  word-spacing -3px

.education span
    color #3d6cb0

.education .secondline
.experience .secondline
  text-transform uppercase
  padding-top 7px
  letter-spacing -1px

.education .text
.experience .text
  padding-top 9px
  font-size 14px
  word-spacing -3px
  line-height 18px
