mixin education
  include ../block-header/block-header
  
  +block-header('education',"education")
  - for (var i=0; i < 4; i++)
  div.content
    p.firstline <span>Master degree</span>   // Feb 2011 - Jun 2014
    p.secondline University name   
    p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

