mixin statusbar-circle(name,value_fill)
  div.statusbar
    p.name= name
      
  - for (var i=0; i<value_fill; i++)
    svg(width="20px", height="20px")
      circle(cx="10px",cy="10px",r="9px", fill="#3d6cb0")

  - var value_empty=12-value_fill 
  - for (var y=0; y<value_empty; y++)
    svg(width="20px", height="20px")
      circle(cx="10px",cy="10px",r="9px", fill="#e6e6e6")