.statusbar-circle span.statusbar-name
  display block
  width 100%
  text-transform uppercase
  text-align center
  font-weight normal
  font-size 21px
  padding-bottom 10px

.statusbar-circle .svg-circle
  padding-left 44px
  padding-bottom 20px

.statusbar-circle svg
  padding-right 7.7px



