div.statusbar-circle
  width 100%

.statusbar-circle span.statusbar-name
  display block
  width 100%
  text-transform uppercase
  text-align center
  font-weight normal
  font-size 21px
  padding-bottom 10px

.statusbar-circle span.svg-circle
  display block
  idth 100%
  text-align center
  padding-bottom 20px
  margin-left 2px
.statusbar-circle svg  
  padding-right 1.961259%//8.1px
  &:last-child
    padding-right 0



