mixin block-header(name,namesvg)  
  include ../circle/circle
  div.block-header
    span.helper  
      img(class="icon" src=require("./svg-fig/"+namesvg+".svg") width="73px")
    span.header-title= name