mixin block-header(name)  
  svg(width="73px", height="73px")
    circle(cx="36", cy="36", r="36px", fill="white",
    stroke="#3d6cb0", stroke-width="1")
    circle(cx="36", cy="36", r="33px", fill="#3d6cb0")
  span.header-title= name
