.contact div.block-header
  margin-bottom 15px

.contact div.text-head
  float left
  width 30.917874%

.contact div.text-content
  float left
  width 68.082126%

.contact p.head
  text-transform uppercase
  color: #3d6cb0

.contact p.content
  color black
  font-weight normal

.contact p.head
.contact p.content
  padding 0
  margin 0
  font-size 19px
  letter-spacin -2px
  font-stretch extra-condensed
  line-height 55px
  vertical-align middle
