mixin contact
  include ../block-header/block-header
  
  +block-header('contact',"phone")
  
  div.text
    p.head address
    p.head e-mail
    p.head phone
    p.head website
  div.text
    p.content Main Street, City.
    p.content contact@domain.com
    p.content 555-555-555
    p.content www.yourweb.com