div.img
  display block
  text-align center
  padding-top 12px
  padding-left 15px
  margin 0

.name p
  margin 0

p.name
  text-transform uppercase
  font-size 51px
  text-align center
  padding-top 24px
  padding-left 25px
  font-weight 400
  word-spacing -3px

p.surname
  font-weight bold
  text-transform uppercase
  font-size 58px
  text-align center
  margin-top -11px
  padding-left 6px
  letter-spacing -5px

p.position
  text-transform uppercase
  text-align center
  font-size 23px
  padding-top 4px
  padding-left 12px
  letter-spacing -2px
  font-weight 600
