mixin experience
  include ../block-header/block-header
  
  +block-header('experience',"experience")
  
  - for (var i=0; i < 3; i++)
  div.content
    p.firstline <span>Company name</span> // Feb 2011 - Jun 2014
    p.secondline Your job here   
    p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.