.experience
  & div.block-header
    padding-top 53px
    margin-bottom 28px

    ^[0] .header-title
      padding-left 20px

.experience div.content
  padding-top 15px
  padding-left 53px
  position relative

  &::before
    content "\2022"
    position absolute
    font-size 55px
    left 5px
    top -1px

