mixin software
  include ../block-header/block-header
  include ../statusbar-rectangle/statusbar-rectangle
  
  +block-header('software',"software")
  
  +statusbar-rectangle('photoshop', 91)
  +statusbar-rectangle('dreamweaver', 82)
  +statusbar-rectangle('illustrator', 70)
  +statusbar-rectangle('after effects', 61)
  +statusbar-rectangle('indesign', 56)
  +statusbar-rectangle('HTML&CSS3', 91)

  
  
  
  