mixin software
  include ../block-header/block-header
  include ../statusbar-rectangle/statusbar-rectangle
  
  +block-header('software',"software")
  
  +statusbar-rectangle('photoshop', 80)
  +statusbar-rectangle('dreamweaver', 80)
  +statusbar-rectangle('illustrator', 80)
  +statusbar-rectangle('after effects', 80)
  +statusbar-rectangle('indesign', 80)
  +statusbar-rectangle('HTML&CSS3', 80)
  
  
  
  
  