mixin skills
  include ../block-header/block-header
  include ../statusbar-circle/statusbar-circle
 
  +block-header('skills',"skills")
     
  +statusbar-circle('creative',7)
  +statusbar-circle('teamwork',11)
  +statusbar-circle('innovate',6)
  +statusbar-circle('communication',11)


