div.statusbar-rectangle
  width 43.829114% //-277
  box-sizing border-box
  float left
  margin-left 1.107595% //-7px //-632
  &:nth-child(even)
    margin-right 9.968354% //-63px  632
  margin-bottom 25px
  &:nth-child(n+6)
   & p
    padding-bottom 10px
   
div.rectangle
  height 22px
  width 100% 

.software p
  padding 0
  margin 0
  text-transform uppercase
  font-weight normal
  padding-bottom 16px
  font-size 22px
